<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color:#00ff40;"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <div class="centrado">
    <div class="wrapper">
      <h1 style="color:#cecbcb;" *ngIf="usuario">
        Bienvenido {{usuario.nombre}}
      </h1>
      <br>
      <ion-button class="btn" color="#" (click)="LeerCode()">Analizar Código QR</ion-button>
      <input type="file" accept="image/jpeg" (change)="onFileSelected($event)" #fileInput>

      <!-- Mostrar el contenido del código QR escaneado -->
      <div *ngIf="qrContent">
        <p>
          Contenido del código QR: <b>{{ qrContent }}</b>
        </p>
      </div>
    </div>
  </div>
</body>
